
body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fffaf0;
    font-family: 'Segoe UI', Verdana, sans-serif;
}


header {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f5deb3;
    padding: 20px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    text-align: center;
}

.wrapper {
    display: flex;
    gap: 40px;
    width: 80%;
    justify-content: center;
}

#nadpis {
    margin: 0;
}

#odstavec {
    margin: 0;
    font-size: 20px;
}


button {
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 0;
}

button:active {
    transform: scale(0.9);
}

img {
    width: 220px;
    object-fit: contain;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe4c4;
    border-radius: 15px;
    padding: 30px;
    margin-top: 10px;
    width: 320px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

aside {
    margin-top: 30px;
    background: #fff3e0;
    padding: 20px;
    border-radius: 12px;
    width: 350px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#upgrades {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.upgrade {
    background: #ffe4c4;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.upgrade p {
    margin: 5px 0;
}

.upgrade button {
    margin-top: 10px;
    background-color: #d2691e;
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.15s;
}

.upgrade button:hover {
    background-color: #a9561b;
}
